

@import url(https://fonts.googleapis.com/css?family=Montserrat);


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media only screen and (max-width: 40em) {

	#navi{
		margin:0!important;
		padding:1em!important;
		height:110px!important;
		display:flex!important;
		flex-wrap:wrap!important;
		

	}
	#navi ul li{
		font-size:10px!important;
		display:inline!important;
	}


	#title h1{
		
		font-size:7em!important;
	}

	#video-wrapper{
		visibility:hidden;
	}


#about{
	height:500px!important;
}
	.moshi{
		height:200px!important;
	}
	.overlay{
		height:250px!important;
	}
	.karen{
		height:210px!important;
	}

	#music-list{
	padding-top:0px!important;

}
.karen p{
	font-size:1.0em!important;
}
 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.0em) and (max-width: 64em) { 

	#navi{
		background:blue;
		height:75px!important;
		

	}
	#navi ul li{
		font-size:12px;
	}


	#title h1{
		
		font-size:7em!important;
	}

	#title{

	top:10%!important;


	}

	#video-wrapper{
		visibility:hidden;
	}

.moshi{
		height:400px!important;
	}
.overlay{
		height:400px!important;
	}

.karen{
		height:335px!important;


	}
	} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */










*{
	margin:0;
	padding:0;

}


#navi{
	background:black;
	height:70px;
	max-width:100%;
	padding-top: 35px;
	
}

#navi ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;

}
#navi ul li{


	padding-left:60px;
	padding-right:60px;
	

}
#navi a{
	color:white;
	text-decoration:none;
	font-family: "Montserrat"!important;
}





#banner{
	
	position:relative;
	width:100%;	
	background:url("../img/bwkarenbanner.png") center no-repeat fixed;
	height:560px;

}

#banner-bg{

	max-height:560px;
}
.centered{
	margin:auto 0;
}
.text-centered{

	text-align:center;
	
}

#title{
	position:absolute!important;
	top:10%;
	left:10%;
	right:10%;

	
}
#title h1{
	color:white;
	font-family: "Komoda";
	font-size:10em;
}






 #about{
 	height:400px;
 	top:45%;
	
	right:30%;
	left:30%;

 }

#video-wrapper{
	background-color: white;
	width:100%;
	height:560px;
	overflow:hidden;
}
#video-wrapper video
 {

 
  top: 0;
  left: 0;
  
  height: 750px;
 

}
#about{
	background-color: rgb(224,224,222);
	padding-top:75px;
}

#about h3{
	body{
	font-family: "Montserrat";
}
}

.moshi{
	height:550px;
	background:url("../img/bw2Moshi.png") no-repeat center;
	background-size:100%;
	position:relative!important;

	

	
}


.moshi .text-centered{

	color:white;
}
.moshi a{
	color:white;
	font-family: "Montserrat";
	border:1px solid white;
	padding:10px 20px;

}
.moshi h3{
	padding-top:75px;
}
.moshi a:hover{
	background:black;
	color:white;
	opacity:.3;
	border:0;
	
}
.karen{
	background:url("../img/bwkarenbanner.png") no-repeat 100% center;
	background-size:100%;
	height:550px;
	position:relative!important;
	z-index:-1;
}

.karen p{
	
	color:white;
	font-size:1.5em;
	padding-top:35px;
	float:right;
}
.karen a{
	color:white;
	font-family: "Montserrat";



}
#music-list{
	padding-top:150px;
	z-index:99999;

}

.social-media a:hover{

	border-bottom:solid orange 10px;
}

.social-media{
	background-color:black;
	height:300px;
	color:white;
}

.social-media{
	padding-top:100px;
}

.footer{
	height:50px;
	color:white;
	background:black;
}

.footer p{
	font-size: 7px;
	margin:0;
}
.footer a{
	color:white;
	text-decoration: none;
}